In [56]:
import pandas as pd

#Read the input
with open('input.txt', 'r') as file:
    content = list(file)

#Strip newline characters
content = [line.strip() for line in content]

In [57]:
#Turn it into a dataframe 
content = pd.DataFrame(content, columns=['input'])
content['direction'] = content['input'].str[0]
content['value'] = content['input'].str[1:].astype(int)
content.drop('input', axis=1)

     direction  value
0            R     31
1            R     49
2            L     47
3            R     35
4            L     20
...        ...    ...
4183         L     33
4184         L      1
4185         L     29
4186         R     31
4187         L     43

[4188 rows x 2 columns]

In [58]:
#Initialize
pw_counter = 0
dial = 50

#test = ["L68", "L30", "R48", "L5", "R60", "L55", "L1", "L99", "R14", "L82"]
#test = pd.DataFrame(test, columns=['input'])
#test['direction'] = test['input'].str[0]
#test['value'] = test['input'].str[1:].astype(int)
#test.drop('input', axis=1)

#Let's see if this ugly for loop works
for direction, value in zip(content.direction, content.value):
    if direction == "R":
        dial = dial + value
        if dial > 99: 
            dial = (dial % 100)
            if dial == 0:
                pw_counter += 1
        elif dial < 0:
            dial = (dial % 100)
            if dial == 0:
                pw_counter += 1
        elif dial == 0:
            dial = dial
            pw_counter += 1
        else: 
            dial = dial 
    if direction == "L":
        dial = dial - value
        if dial > 99:
            dial = (dial % 100)
            if dial == 0:
                pw_counter += 1
        elif dial < 0:
             dial = (dial % 100)
             if dial == 0:
                 pw_counter +=1
        elif dial == 0:
            dial = dial
            pw_counter += 1
        else: 
            dial = dial

In [59]:
print(pw_counter)
#That's the right answer!

1023